.produtos-copos, .div-produtos-copos{
    margin-top: 1.5em;
}
.produtos-copos{
    height: 100%;
}
.list-copos{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.item-copos{
    padding: 1em 0.5em;
    border-radius: 10px;
    display: flex;
    gap: 0.8em;
    border-bottom: 1px solid gainsboro;
}
.div-description-item{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
.item-description{
    font-size: 0.9em;
    color: rgb(68, 68, 68);
}
.item-preco{
    margin-top: auto;
}
.foto-copo{
    border-radius: 10px;
}